* 
{
  margin: 0;
}
body 
{
    background-color: wheat;
}
h1
{
    text-align: center;
   position: relative;
   top: 30px;
   text-decoration: underline;
}
.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  background-color: wheat;
  height: 100vh;
  font-family: sans-serif;
}
.app 
{
  width: 40%;
}
@media (max-width:768px)
 {
  .app 
  {
    width: 80%;
  }
}
.app h1
{
  color: white;
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  background-color: #de3f53;
  font-family: 'Times New Roman', Times, serif;
}
.app form 
{
  display: flex;
  width: 100%;
  background-color: #000000;
}
.app form input 
{
  border: none;
  background-color: #ffffff;
  font-size: 18px;
  color: white;
  padding: 10px;
  width: 90%;
}
.app form button 
{
  border: none;
  color: white;
  background-color: #0b0c0c;
  font-size: 25px;
  font-weight: 600;
  height: 42px;
  width: 10%;
}
.app ul
{
  list-style: none;
  color: #e0e0e0;
  padding: 0;
}
.app ul li
{
  padding: 10px;
  background-color: #279696;
  border-bottom: 1px solid #3a4674;
}
.check 
{
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  -webkit-appearance: none;
}
.check:checked
{
  background-color: #1dd2af;
}
.task 
{
  font-size: 18px;
  padding: 0 10px;
  width: fit-content;
  background: transparent;
  border: none;
  color: #fff;
}
.task:focus
{
  outline: none;
}
.app ul li i 
{
  float: right;
  cursor: pointer;
}
.app ul li i:hover 
{
  color: rgb(250, 54, 54);
}
.completed
{
  color: rgba(192, 192, 192, 0.8);
  text-decoration: line-through;
}
